<div class="flex items-center justify-center min-h-screen bg-blue-100">
  <div class="text-center">
    <h1 class="text-2xl mb-4">アプリタイトル</h1>
    <div class="mb-2">
      <button class="btn btn-primary w-32 mb-2">ログイン</button>
    </div>
    <div class="mb-4">
      <button class="btn btn-primary w-32 mb-2">ユーザー登録</button>
    </div>
    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
      <div class="collapse-title text-lg font-medium">
        使い方
      </div>
      <div class="collapse-content">
        <p>こうこうこんなかんじの使い方</p>
      </div>
    </div>
  </div>
</div>