<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <p><%= post.user.name %></p>
    <%= post.body %>
  </div>
  <div class="card-actions">
    <div id="like-btn-<%= post.id %>">
      <%= render 'likes/like', post: post %>
    </div>
  </div>
</div>