<div class="post-mypost">
  <h2 class="text-2xl font-semibold text-gray-700 mb-4 pl-3">今日の投稿</h2>
  <% if @today_post.present? %>
    <%= render @today_post %>
  <% else %>
    <div class="text-gray-500">今日やることを宣言してみましょう！</div>
  <% end %>

  <h2 class="text-2xl font-semibold text-gray-700 mt-8 mb-4 pl-3">今までの投稿</h2>
  <% if @posts.present? %>
    <div class="overflow-y-auto">
      <%= render @posts %>
    </div>
  <% else %>
    <div class="text-gray-500">宣言はまだありません</div>
  <% end %>
</div>


