@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-alert {
  @apply alert-error
}
.alert-notice {
  @apply alert-info
}
.post-index .card {
  @apply max-w-lg
  @apply min-w-96
}
@media (max-width: 800px) {
  .app-title, header span {
    display: none;
  }
  .navbar {
    justify-content: center
  }
  .navbar svg {
    width: 24px;
    height: 24px;
    margin: 0 4px;
  }
  .card {
    @apply w-screen
  }
}
